# Jekyll build output
_site/
.jekyll-cache/
.sass-cache/
.history/

# Bundler / Ruby
.bundle/
vendor/bundle/
docs/vendor/bundle/
docs/vendor/cache/
vendor/cache/
vendor/gems/
vendor/ruby/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# IDEs
.idea/
